<!DOCTYPE html>
<html>
<head>
   <title>sad nat.</title>
   <meta charset="utf-8">
   <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>

   <div class="top">
      <div class="sad">
          <a href="http://www.octopuspie.com/2009-07-20/octopus-pie-mongo-minis-vol-1-part-2/"
           target="_blank"><img src="images/sadnat.png" alt="sad nat" /></a>
      </div>

      <div class="update">
         <p class="intro">Nat is sad because...</p>

         <form action="/" method="post">
            <input class="reason" type="text" name="reason" maxlength="255" />
            <input class="submit" type="image" src="images/submit.png" alt="Submit" />
            <p class="auth">
               <span>
                  <input id="anon" name="auth" type="radio" value="anon" />
                  <label for="anon">post anonymously</label>
               </span>
               <span>
                  <input id="twitter" name="auth" type="radio" value="twitter" checked />
                  <label for="twitter">login with twitter</label>
               </span>
            </p>
         </form>
      </div>
   </div>

   <div class="reasons">
      <div class="odd">
         &quot;Brown Owl has too many customers.&quot;&mdash;
         <span class="when">Nov 6</span>
         <span class="by">via <a href="http://twitter.com/dmpatierno">@dmpatierno</a></span>
         <p class="response">
            &quot;In my defense, I'm an asshole.&quot; /Nat
         </p>
      </div>

      <div class="even">
         &quot;He has too many 'fucking' projects.&quot;&mdash;
         <span class="when">Nov 6</span>
         <span class="by">via <a href="http://twitter.com/dmpatierno">@dmpatierno</a></span>
      </div>
      <div class="odd">
         &quot;He listens to emo music.&quot;&mdash;
         <span class="when">Nov 6 '11</span>
         <span class="by">via <a href="http://twitter.com/dmpatierno">@dmpatierno</a></span>
      </div>
   </div>

   <script type="text/javascript">
     /* Google Analytics. */
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-333449-8']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
   </script>
</body>
</html>
