<!DOCTYPE html>
<html>
  <head>
    <title>about sad nat.</title>
    <meta charset="utf-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <div class="top">
      <div class="sad">
        <a href="http://www.octopuspie.com/2009-07-20/octopus-pie-mongo-minis-vol-1-part-2/"
          target="_blank"><img src="images/sadnat.png" alt="sad nat" /></a>
      </div>

      <div class="update">
        <p class="intro"><a href="/">sad nat.</a></p>

        <p class="why">
        Sad Nat was created in December 2010 by <a href="http://natwelch.com">Nat Welch</a> when he thought it would be better to send a URL than an emoticon. For a year, sadnat.com was just a static page. In November 2011, <a href="http://dmpatierno.com">David Patierno</a> convinced Nat to make the site dynamic, and together they did so in one day.
        </p>

        <p class="why">
        The sadnat picture is blatently stolen from <a href="http://www.octopuspie.com/2009-07-20/octopus-pie-mongo-minis-vol-1-part-2/" target="_blank">Octopus Pie</a>.
        </p>

        <p class="why">
        You can file bugs, complaints and feature requests either on <a href="https://github.com/icco/sadnat.com">github</a> or by emailing nat@natwelch.com.
        </p>
      </div>
    </div>

    <%= erb :footer %>

    <script type="text/javascript">
      /* Google Analytics. */
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-333449-8']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
