<!DOCTYPE html>
<html>
  <head>
    <title>sad nat.</title>
    <meta charset="utf-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="top">
      <center>
        <img src="/images/cougarsintherain.gif" />
      </center>
    </div>

    <%= erb :footer %>
  </body>
</html>
