<div id="footer">
  <a href="/about">about</a> &middot; <a href="http://natwelch.com">natwelch.com</a> &middot; <a href="https://github.com/icco/sadnat.com">github</a>
</div>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5213bb51f5a1f5312100001e');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
